@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

#main-contact{
    height: 100vh;
    /* padding-top: 8.3rem; */ /*📌*/
    position: relative;
    padding: 0 3rem;
}
#main-contact #bg-img-div{
    background-image: url("../images/contact.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%;*/
    width: 100%;
    height: 100%;
    opacity: 0.4; /*📌*/
}
#main-contact #content-div{
    position: absolute;
    top: 0rem;
    left: 0;
    
    padding: 0rem 3rem;
    padding-top: 8.3rem;/* see #main-contact padding*/
    height: 100%;
    width: 100%;
}
#main-contact #content-div #blur-div{
    /* background-color: #00000096;  */ /*📌*/
    height: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 3rem;
    width: 100%;
    /* padding-bottom: 1rem; */
}
/* --------------------------------------------------------------------------------------- */
#main-contact #content-div #content-div-header{
    background-color: #fff;
    height: auto;
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid #b9b9b9;
}
#content-div-header-first-row{
    margin: 0;
    padding-right: 3rem;
}
#content-div-header-first-row h2{
    font-family: 'Kanit', sans-serif;
    color: #303030;
    font-size: 3rem;
}
#content-div-header-first-row p{
    font-family: 'Kanit', sans-serif;
    margin-bottom: 0.3rem;
    color: #474747;
}

#content-div-header-second-row h5{
    font-family: 'Kanit', sans-serif;
    color: #474747;
}
#content-div-header-second-row form{
    /* background-color: red; */
    text-align: end;
}
#content-div-header-second-row form input{
    background-color: #d3d2d2;
    height: 2rem;
    margin-bottom: -0.5rem;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0rem;
    color: #222222;
    font-weight: 700;
    font-size: 0.9rem;
}
#content-div-header-second-row form input::placeholder{
    color: #6a6a6a;
    font-weight: 700;
    font-size: 0.9rem;
   
}
#content-div-header-second-row form .btn{
    background-color: #f77049;
    border: none;
    border-radius: 0rem;
    height: 2rem;
    font-weight: 500;
    padding: 0.3rem 1.5rem;
}


/* --------------------------------------------------------------------------------------- */

#main-contact #content-div #content-div-footer{
    border: 0.1rem solid #9e9e9e;
    background-color: #f77049;
    height: auto;
    margin-top: 1rem;
    color: white;
    width: 100%;

    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}

#main-contact #content-div #content-div-footer h5{
    font-family: 'Kanit', sans-serif;
}

#main-contact #content-div #content-div-footer p{
    margin-bottom: -0.3rem;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.1rem;
}
/* ------------------------------------------------------------------------------------------------ */
@media only screen and (max-width: 1200px) {
    #content-div-header-first-row h2{
        font-size: 2rem;
    }
    #content-div-header-first-row p{
        font-size: 0.9rem;
    }

}
@media only screen and (max-width: 991px) {
    #main-contact #content-div #blur-div{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}
@media only screen and (max-width: 767px) {
    #main-contact{
        height: 128vh;
        padding: 0;
    }
    #main-contact #content-div{
        padding: 0;
    }
    #main-contact #content-div #content-div-footer p{
        font-size: 0.78rem;
    }
    #main-contact #content-div #content-div-footer h5{
        font-size: 1rem;
    }
    #content-div-header-first-row {
        padding-bottom: 1rem;
    }
    #content-div-header-first-row {
        font-size: 0.8rem;
    }
    #main-contact #content-div #blur-div{
        justify-content: center;
    }
   

}
@media only screen and (max-width: 574px) {
    #main-contact #content-div{
        padding: 0 0.5rem;
    }
    #main-contact #content-div #content-div-footer{
        flex-direction: column;
    }
    #main-contact #content-div #content-div-footer .contact-footer-topic{
        margin-bottom: 1.1rem;
    }
    #main-contact #content-div #content-div-header{
        margin-top: 9rem;
    }
    #content-div-header-first-row p{
        display: none;
    }

}

