@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/* font-family: 'Luckiest Guy', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

#main-footer{
    background-color: #3e3e3e;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#main-footer-content{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
#main-footer-content .main-footer-topic h4{
    font-family: 'Kanit', sans-serif;
    color: #fff;
}
#main-footer-content .main-footer-topic ul li{
    list-style: none;
    color: #d6d5d5;
}
#main-footer-content .main-footer-topic ul li a{
    font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
}
/* --------------------------------- */
#sub-main-footer{
    font-family: 'Ubuntu', sans-serif;
    background-color: #535353;
    height: 30%;
    margin: 0;
    color: white;
    margin-bottom: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sub-main-footer img{
    height: 1.5rem;
}