#main-home{
    background-color: #fff;
    height: auto;
    padding: 0rem 3rem;
    padding-top: 10rem;
    
}

@media only screen and (max-width: 574px) {
    #main-home{
        padding: 0rem 1rem;
        padding-top: 7rem; 
    }
}