@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/* font-family: 'Luckiest Guy', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

#main-mainReview{
    min-height: 100vh;
    max-height: auto;
    padding: 0rem 4rem;
    padding-top: 8.3rem;
}
#main-mainReview .row{
}
/* 📌📌---------------------------------------------------------------------------------------------------------- */
#displayReview-Row{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

}

#displayReview-Row .display-review-card{
    height: auto;
    font-family: 'Kanit', sans-serif;
    background-color: #efefef;
    margin-bottom: 1rem;
    text-align: start;
    padding: 1rem;
    padding-bottom: 0rem;
    border-radius: 0.5rem;
    color: #494949;
    border: 0.1rem solid rgb(208, 208, 208);
    
}
#displayReview-Row .display-review-card .review-star{
    color: #fbb736;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

}

#displayReview-Row .sub-display-review-card h6{
    margin-top: -1rem;
    text-align: end;
    font-size: 1.2rem;
    font-weight: 500;
    color: #303030;
}



/* 📌📌---------------------------------------------------------------------------------------------------------- */
#addReview-Row{
    padding:0rem;
    border-radius: 0.2rem;
}
#addReview-Row #main-review-heading{
    display:none ; /*📌📌*/
    font-family: 'Kanit', sans-serif; 
    color: #303030;
    /* background-color: #fff; */
    background-color: #efefef;
    padding: 0.8rem;
    /* border: 0.1rem solid #dadada; */

}
#addReview-Row #main-review-heading p{
    color: #515151;
    font-weight: 500;
    margin-bottom: -0.2rem;

}
#addReview-Row #add-review-div{
    background-color: #f77049eb;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    min-height: 13rem;
    height: auto;
    padding: 1rem;
}
#addReview-Row #add-review-div h5{
    color: #fff;
}
#addReview-Row #add-review-div #rating-stars{
    font-size: 2rem;
    cursor: pointer;    
}
#addReview-Row #add-review-div #err-showing-p{
    color: #bb1111;
    font-weight: 500;
    margin-top: -1.2rem; 
}
#addReview-Row #add-review-div .clickRatingStar{
    font-size: 2rem;
    color: #fbb736;
    cursor: pointer;    
}
#addReview-Row #add-review-div textarea{
    background-color: #8f8f8f;
    border-radius: 0rem;
    border: none;
    outline: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0.5rem;
}
#addReview-Row #add-review-div textarea::placeholder{
    color: rgb(205, 205, 205);
    font-family: 'Ubuntu', sans-serif;
}
#addReview-Row #add-review-div .btn{
    border-radius: 0rem;
    outline: none;
    border: none;
    background-color: #00000047;
    color: #fff;
    font-weight: 700;
}
#addReview-Row #add-review-div .btn:hover{
    background-color: #fff;
    color: #f77049;
}
#addReview-Row #user-review-div{
    background-color: #ff7b56eb;
    height: 13rem;
    padding: 1rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    
}
#addReview-Row #user-review-div h5{
    color: #fff;
}
#addReview-Row #user-review-div #rated-stars{
    color: #fbb736;
    font-size: 1.2rem;
}
#addReview-Row #user-review-div p{
    color: #303030;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}
#addReview-Row #user-review-div h6{
    color: #303030;
    text-align: end;
    margin-top: -1rem;
}

