@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

#main-navbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}
.container-navbar{
    padding: 0rem 3rem;
}
.my-default-navbar{
    margin-top: 3.6rem;
}
.my-navbar-scroll{
    background-color: #9dacb6;
    transition: 1s;
}

.navbar-brand-style{
    color: #303030;
    /* font-weight: 700; */
    font-size: 1.4rem;
}
.default-navbar-brand-style{
    color: #303030;
    /* font-weight: 700; */
    font-size: 1.4rem;
}
.my-text-color{
    color: #fff;
    /* font-weight: 600; */

}   
.default-text-color{
    color: #515151;
    /* font-weight: 600; */
}
#navbar-ul{
    width: 100%;
    display: flex;
    justify-content: center;

}
#brandLogo{
    height: 2.5rem;
    margin-right: 0.8rem;
}
.navbar-nav .nav-link{
    margin-right: 1.4rem;
}

@media only screen and (max-width: 1200px){
    .navbar-nav .nav-link{
        margin-right: 0.8rem;
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 991px){
    #navbar-ul{
        align-items: center;
    }
    .navbar-nav .nav-link{
        font-size: 1rem;
    }
}

@media only screen and (max-width:574px){
    .container-navbar{
        padding:0.5rem;
    }
}