@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

#main-signup{
    
    min-height: 100vh;
    max-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#sub-signup-div{
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
    border: 0.1rem solid #f0e8e1;
    border-radius: 0.3rem;
    background-color: #f7f6f9;
}

#sub-signup-div #heading-div{
    background-color: #f77049eb;
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: #fff;
    text-align: center;
}
#sub-signup-div #heading-div p{
    color: #e5e5e5;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
#sub-signup-div #footer-div{
    font-size: 0.8rem;
    margin-bottom: -1rem;
    margin-top: 2rem;
}
#sub-signup-div #footer-div a{
    color: #f77049eb;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: 'Kanit', sans-serif;
}

#sub-signup-div form{
}
#sub-signup-div form .btn{
    border:none;
    background: linear-gradient(to top left, #f77049eb 50%, #9933ff 100%);
}
#sub-signup-div form .btn:hover{
    border:none;
    background: linear-gradient(to top right, #f77049eb 50%, #9933ff 100%);
}

@media only screen and (max-width: 360px) {
    #sub-signup-div #footer-div p {
        margin-top: -1.8rem;
    }
    #sub-signup-div form .form-label {
        margin-bottom: 0rem;
    }
}
