#main-whychooseus{
    background-color: #efefef;
    background: linear-gradient(to bottom, #e1e1e1  25%, #efefef 75%);
    min-height: 90vh;
    max-height: auto;
    padding-top: 7rem;
}
/* --------------------------------------------------------------------- */
#chooseus-left-row{
    font-family: 'Kanit', sans-serif;
    padding-top: 2rem;
    padding-left: 1.5rem;
}
#chooseus-left-row #main-whychooseus-header h3{
    color: #303030;
    font-weight: 600;
}
#chooseus-left-row #main-whychooseus-header p{
    color: #7a7a7a;
    font-weight: 500;
}
#chooseus-left-row .row{
}
#chooseus-left-row .row .why-row{
}
#chooseus-left-row .row .why-row div{
    background-color: #7bceff;
    height: 12rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-top: 3rem solid #00c3ff;
    /* animation: whyChooseDiv 4s linear 1s infinite; */
    
}
#chooseus-left-row .row .why-row div img{
    height: 4rem;
    width: 4rem;
    margin-bottom: 1rem;
    
}
/* --------------------------------------------------------------------- */
#chooseus-right-row{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#chooseus-right-row #img-div{
    height: 100%;
    background-color: white;
    border-radius: 75% 25% 70% 30% / 43% 78% 22% 57%  ;
}
#chooseus-right-row #chooseus-img{
    height: 120%;
    margin-top: -6.2rem;
}

/* -------------------------------------------------------------------------------------------------- */
@media only screen and (max-width:1199px){
    #chooseus-right-row #img-div{
        height: 80%;
    }
    #chooseus-right-row #chooseus-img{
        height: 120%;
        margin-top: -4.7rem;
    }
}
@media only screen and (max-width:991px){
    #chooseus-right-row #img-div{
        height: 75%;
    }
    #chooseus-right-row #chooseus-img{
        height: 120%;
        margin-top: -4rem;
    }
    #chooseus-left-row .row .why-row div img {
        height: 3rem;
        width: 3rem;
    }
    #chooseus-left-row .row .why-row div {
        height: 10rem;
    }
    #chooseus-left-row #main-whychooseus-header p {
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:767px){
    #chooseus-right-row{
        display: none;
    }
    #chooseus-left-row .row {
        margin: 0;
        padding-right: 0.8rem;
    }
}
@media only screen and (max-width:370px){
    #chooseus-left-row .row .why-row {
        padding: 0.1rem;
    }
    #chooseus-left-row .row .why-row h6{
        text-align: center;
    }
}